.pc-card {
  border-radius: 15px;
  box-shadow: 0px 6px 64px 0px #7090b01a;
  background-color: #7090b01a;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.delete-container {
  margin-right: 0px;
}

.delete-icon {
  font-size: 54px;
  color: chocolate;
  align-self: flex-start;
  margin-left: 20px;
}

.pc-content-container {
  padding: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

.pc-title {
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  color: darkblue;
}
.pc-description {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  margin-top: 2px;
  color: cadetblue;
}
.pc-button {
  border-radius: 5px;
  border: 1px solid #4a4e53;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 20px;
}
.pc-button:hover {
  background-color: #4a4e53;
  color: #ffffff;
}

.pc-img-contianer {
  align-self: flex-end;
}

.pc-img {
  width: 200px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 300px;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .pc-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 6px 64px 0px #7090b01a;
    background-color: #7090b01a;
    margin-bottom: 30px;
  }

  .delete-container {
    align-self: flex-start;
    margin-top: 20px;
    margin-right: 0px;
  }

  .delete-icon {
    font-size: 16px;
    color: chocolate;
  }

  .pc-content-container {
    margin-top: 0px;
    margin-left: 0px;
  }

  .pc-title {
    font-family: Playfair Display;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    color: darkblue;
  }
  .pc-description {
    font-family: Nunito;
    font-size: 8px;
    font-weight: 200;
    margin-top: 2px;
    color: cadetblue;
  }
  .pc-button {
    width: 80px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #4a4e53;
    font-family: Roboto;
    font-size: 6px;
    font-weight: 200;
    cursor: pointer;
  }

  .pc-img-contianer {
    align-self: flex-end;
  }

  .pc-img {
    width: 100px;
    height: 120px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
  }
}
