.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.device-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-logo {
  color: mediumslateblue;
}

.nav-list {
  display: flex;
  list-style-type: none;
}
.nav {
  position: relative;
  z-index: 20;
  text-decoration: none;
  color: black;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.icon {
  margin-right: 2px;
  color: teal;
}

.header-logo-name {
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  .device-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .mobile-container {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    width: 100%;
  }

  .mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo-name {
    font-size: 14px;
    align-self: flex-start;
  }

  .nav-items {
    justify-content: space-evenly;
  }

  .device-container {
    display: none;
  }
}
